@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Gotham Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: url(./../img/hero.webp) center no-repeat;
  text-shadow: -2px 0 #000000, 0 1px #fdfdfd, 1px 0 #000000, 0 -1px #000000;
  color: #ffffff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #B88E3B;
}

h1,
h2 {
  text-transform: uppercase;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background-image: linear-gradient(15deg, #000000 0%, #075196 100%);
  color: #fdfdfd;
  z-index: 10000;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto;
}

nav ul {
  display: flex;
  margin-left: 135px;
}

.cd-section .container {
  min-height: 100vh;
  box-sizing: border-box;
}

.nav__list {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
}

.nav__list:first-child {
  margin-left: 0px;
}

header .logo svg {
  width: 235px;
  height: 100px;
  fill: #fff;
  z-index: 100;
}

.hOne_services span {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  padding: 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.home-scr-1 .hero {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  max-width: 994px;
  margin: 120px auto;
}

.hero h1 {
  font-size: 40px;
  font-weight: bold;
}

.hOne_services {
  justify-content: center;
  text-align: center;
}

.hOne_services {
  display: flex;
  font-size: 25px;
}

.home-scr-1 h1:before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 84%;
  top: 147px;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
}

.home-scr-1 h1 span {
  font-size: 36px;
  display: block;
  line-height: 6rem;
  font-weight: 400;
  text-transform: none;
  position: relative;
  margin-top: 103px;
}

.home-scr-1 h1 span .font-l {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  margin-top: 14px;
}

.home_five .lg {
  justify-content: flex-end;
}

.lg.d-f {
  visibility: visible;
  animation-delay: 0.7s;
  animation-name: fadeInRight;
}

.cd-section:first-of-type > div {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(./../img/hero.webp) center no-repeat;
  background-size: cover;
}

.localizations {
  position: absolute;
  display: block;
  top: 25px;
  right: 57px;
  text-shadow: none;
}

.localizations .local-cur {
  display: none;
}

.localizations ul {
  display: block;
}

.localizations li {
  width: 41px;
  height: 41px;
  border-radius: 50px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
}

.localizations li.active {
  background: #B88E3B;
}

.localizations a {
  font-size: 10px;
  color: #ffffff;
  line-height: 41px;
  vertical-align: top;
  display: inline-block;
  font-weight: 900;
}

.icon-mouse {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 55px;
  width: 33px;
}

@keyframes bounce {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(1.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 12px, 0);
    transform: translate3d(0, 12px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

.bounce {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 1s;
  transition-timing-function: ease-in;
  transition-duration: 10s;
  animation-iteration-count: 3;
}

@media screen and (max-width: 1439px) {
  .icon-mouse {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  nav {
    margin: 40px auto 0 auto;
  }
  .home-scr-1 .hero {
    margin: 120px auto;
  }
  .home-scr-1 h1:before {
    width: 84%;
    top: 147px;
  }
  .hOne_services {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    margin: 40px auto;
  }
  .home-scr-1 .hero {
    margin: 200px auto;
  }
  .home-scr-1 h1:before {
    width: 84%;
    top: 160px;
  }
  .hero h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 7.5rem;
  }
  .hOne_services {
    margin-top: 50px;
    font-size: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  nav {
    margin: 40px auto;
  }
  nav ul {
    display: block;
    margin: 0;
  }
  .home-scr-1 .hero {
    margin: 300px auto;
  }
  header .logo svg {
    top: 25px;
  }
  .localizations {
    width: 82px;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
  }
  .home-scr-1 h1:before {
    width: 90%;
    top: 105px;
  }
  .hero h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
  }
  .icon {
    width: 20px;
    height: 30px;
  }
  .hOne_services {
    display: block;
    margin-top: 50px;
    font-size: 16px;
    width: 200px;
    margin: 100px auto;
  }
  .hOne_services .fadeInUp {
    display: flex;
    margin-top: 20px;
  }
  .hOne_services span {
    display: block;
  }
}

.lg.d-f {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(18, 18, 19, 0.4), rgba(0, 0, 0, 0.1)), url(./../img/slidrer-2.webp);
  background-position: center;
  background-size: cover;
  visibility: visible;
  animation-name: fadeInLeft;
  color: white;
  align-items: center;
  justify-content: center;
}

.lg.slider__2 {
  margin: auto;
  background-size: cover;
  visibility: visible;
  animation-name: fadeInLeft;
  color: white;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.about_result {
  margin-top: 200px;
  height: 510px;
  width: 500px;
}

.about_result h2 {
  margin-bottom: 50px;
}

.singleResult {
  display: flex;
  align-items: center;
}

.singleResult .number {
  font-size: 45px;
  line-height: 76px;
  color: #fcfcfc;
  margin-top: 26px;
  text-align: start;
  margin-right: 20px;
  width: 200px;
}

.numberDescription {
  margin-top: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: start;
  width: 280px;
}

.hThree_title h2 {
  font-size: 30px;
  color: #f7f3f3;
}

.home_five .lg .description {
  margin-top: 50px;
  width: 700px;
  height: 90%;
  background-color: transparent;
}

.home_five .lg .description p {
  font-size: 20px;
  text-align: start;
  color: #f7f3f3;
  line-height: 150%;
  margin: 20px;
}

.accordions.d-f {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  /* margin-left: 170px; */
}

.animated.d-1 {
  animation-delay: .1s;
}

.singleAccord .d-f {
  margin-bottom: 0;
  cursor: pointer;
}

.singleAccord .d-f:Hover,
.singleAccord .d-f:focus {
  color: #b88e3b;
}

.singleAccord .d-f {
  margin-bottom: 0;
  cursor: pointer;
}

.accordionBlock:first-child {
  margin-right: 50px;
}

.singleAccord {
  margin-top: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 250%;
}

.singleAccord .item {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-1000%);
  padding-right: 15px;
  padding-left: 50px;
  height: 500px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  color: #ffffff;
}

.showMenu {
  transform: translateX(0);
}

.item p {
  width: 400px;
  height: 400px;
  background-color: blue;
  width: 100%;
  font-size: 16px;
}

.hOne_title {
  margin-top: 70px;
  /* height: 100vh; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}

h1.fadeInUp {
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}

.slider__3-item {
  display: flex;
  width: 1300px;
  margin: 0px auto;
}

.slider__3-list {
  height: 250px;
  width: 200px;
  margin-left: 20px;
}

.slider__3-list:first-child {
  margin-left: 0;
}

.slider__3-img {
  height: auto;
  width: 200px;
}

.slider__3-text {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 0 3px;
  color: #fff;
  background-color: black;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .home_five .lg .description {
    margin-top: 100px;
  }
  .about_result {
    height: auto;
    width: 400px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
  }
  .singleResult {
    display: block;
    text-align: center;
  }
  .hThree_title h2 {
    padding: 0;
  }
  .singleResult .number {
    font-size: 45px;
    line-height: 76px;
    color: #fcfcfc;
    margin-top: 0px;
    text-align: center;
    margin: 0 auto;
    width: 200px;
  }
  .numberDescription {
    margin: 0px auto;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-align: start;
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home_five .lg .description {
    margin-top: 100px;
  }
  .about_result {
    height: auto;
    width: auto;
  }
  .singleResult {
    display: block;
    text-align: center;
  }
  .hThree_title h2 {
    padding: 0;
  }
  .singleResult .number {
    font-size: 45px;
    line-height: 76px;
    color: #fcfcfc;
    margin-top: 0px;
    text-align: center;
    margin-right: 0px;
    width: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hThree_title h2 {
    font-size: 18px;
  }
  .home_five .lg .description p {
    font-size: 15px;
  }
}

.home-scr-3 .container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(./../img/slider__3jpg.webp);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-shadow: none;
}

.container__gallery-hero {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  box-sizing: border-box;
}

.lg {
  min-height: 100vh;
  max-width: 1224px;
  margin: auto;
  background-size: cover;
  visibility: visible;
  animation-name: fadeInLeft;
  color: white;
  align-items: center;
  justify-content: center;
}

.slider__3 .hThree_title {
  padding-top: 50px;
}

.gallery-hero {
  width: 1200px;
  position: relative;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery-hero .content img {
  width: 700px;
  height: 650px;
  object-fit: cover;
}

.gallery-hero .gallery__item {
  height: 100px;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 34px;
  display: flex;
  align-items: center;
}

.gallery-hero .gallery__item.small {
  height: 50px;
}

.gallery-hero .gallery__item:last-child {
  margin-right: 0px;
}

.gallery-hero input[name="select"] {
  margin-right: 10px;
}

.gallery-hero .item-hugger {
  display: flex;
  position: relative;
  height: 80px;
  width: 550px;
  margin: 10px 0;
  transition: all 150ms ease-in-out;
}

.gallery-hero .item-hugger.small {
  height: 50px;
}

.gallery-hero label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  cursor: pointer;
  height: 100%;
  color: #ffffff;
}

.gallery-hero label:hover, .gallery-hero label:focus {
  border-bottom: solid 1px #fff;
  width: 95%;
}

.gallery-hero .gallery__item:first-child .item-hugger {
  height: 50px;
}

.gallery-hero .item-hugger__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  font-size: 25px;
  color: #fcfcfc;
  transition: all 150ms linear;
  list-style: none;
  background-size: 20px;
  text-shadow: -2px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.gallery-hero .content {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  width: 700px;
  -webkit-box-shadow: 8px 11px 27px -9px black;
  -moz-box-shadow: 8px 11px 27px -9px black;
  box-shadow: 8px 11px 27px -9px black;
}

.gallery-hero .content .content__info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 30px;
  box-sizing: border-box;
  width: 85%;
  height: 600px;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px #000;
  color: #fcfcfc;
}

.gallery-hero .content .gallery-title {
  margin-bottom: 30px;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 15px;
}

.gallery-hero .content .gallery-subtitle {
  font-style: normal;
  font-weight: normal;
  list-style: disc;
  font-size: 20px;
  line-height: 24px;
  color: #fffdfd;
  margin-left: 15px;
  width: 100%;
}

.gallery-hero .content .gallery-subtitle li {
  margin-top: 10px;
  padding-right: 10px;
}

.gallery-hero .content .gallery-subtitle li ul {
  list-style: square;
  list-style-position: inside;
  margin-left: 20px;
}

.gallery-hero .content .gallery-subtitle h3 {
  margin: 20px 0;
}

.gallery-hero ::-webkit-scrollbar {
  width: 10px;
}

.gallery-hero ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
}

.gallery-hero ::-webkit-scrollbar-thumb {
  background: #B88E3B;
}

.gallery-hero input[name="select"]:checked + .item-hugger {
  height: 35px;
  margin: 0;
}

.gallery-hero input[name="select"]:checked ~ .content {
  opacity: 1;
}

.relative.content__image img {
  width: 1272px;
  height: 466px;
  object-fit: cover;
}

.content__image {
  height: 466px;
  object-fit: cover;
}

@media screen and (max-height: 780px) and (min-width: 1440px) {
  .gallery-hero {
    position: static;
    height: 418px;
    width: 50%;
    margin-right: 610px;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  .gallery-hero .content .content__info {
    position: absolute;
    top: 190px;
    right: 100px;
    z-index: 10;
    padding: 30px;
    box-sizing: border-box;
    width: 85%;
    height: 430px;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
  }
  ::-webkit-scrollbar-thumb {
    background: #B88E3B;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .slider__3 {
    height: 76vh;
  }
  .slider__3 .lg {
    min-height: 1000px;
  }
  .gallery-hero {
    height: 100%;
    width: 900px;
  }
  .gallery-hero .content {
    top: 0px;
    right: 0px;
  }
  .gallery-hero .content .content__info {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 30px;
    width: 400px;
    height: 650px;
  }
  .gallery-hero .item-hugger__title {
    font-size: 22px;
    width: 450px;
  }
  .gallery-hero .content .gallery-title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 25px;
  }
  .gallery-hero .content .gallery-subtitle {
    font-size: 16px;
  }
  .gallery-hero .content .gallery-subtitle h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .slider__3 {
    height: 76vh;
  }
  .slider__3 .lg {
    min-height: 1000px;
  }
  .slider__3 .hThree_title {
    padding-top: 100px;
    margin-bottom: 100px;
  }
  .gallery-hero {
    width: 700px;
  }
  .gallery-hero .gallery__item {
    height: 60px;
  }
  .gallery-hero .content {
    top: 0px;
    right: 0px;
  }
  .gallery-hero .item-hugger {
    height: 50px;
    margin: 10px 0;
  }
  .gallery-hero input[name="select"]:checked + .item-hugger {
    height: 30px;
    margin: 0;
  }
  .gallery-hero .content .content__info {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 30px;
    width: 350px;
    height: 450px;
  }
  .gallery-hero .item-hugger__title {
    font-size: 15px;
    width: 300px;
  }
  .gallery-hero .content .gallery-title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
  }
  .gallery-hero .content .gallery-subtitle {
    font-size: 14px;
  }
  .gallery-hero .content .gallery-subtitle h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__3 {
    height: 76vh;
  }
  .slider__3 .lg {
    min-height: 1100px;
  }
  .slider__3 .hThree_title {
    padding-top: 30px;
    margin-bottom: 0px;
  }
  .container__gallery-hero {
    display: block;
  }
  .gallery-hero {
    width: 280px;
  }
  .gallery-hero .content {
    top: 0px;
    right: 0px;
  }
  .gallery-hero .item-hugger {
    height: 50px;
    margin: 20px 0;
  }
  .gallery-hero input[name="select"]:checked + .item-hugger {
    height: 30px;
    margin: 0;
  }
  .gallery-hero .content .content__info {
    position: absolute;
    top: 500px;
    right: 0px;
    padding: 30px;
    width: 280px;
    height: 400px;
  }
  .gallery-hero .item-hugger__title {
    font-size: 14px;
    width: 280px;
  }
  .gallery-hero .content .gallery-title {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
  }
  .gallery-hero .content .gallery-subtitle {
    font-size: 14px;
  }
  .gallery-hero .content .gallery-subtitle h3 {
    font-size: 16px;
  }
  .gallery-hero .gallery__item {
    margin-right: 0px;
    height: 55px;
  }
}

.slider__4 .container {
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(./../img/slider__4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

.home-scr-4 .container .list {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.home-scr-4 .container .list div {
  text-align: left;
  width: 32.333%;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  max-width: 397px;
  box-sizing: border-box;
  padding-left: 46px;
  min-height: 136px;
  margin-bottom: 80px;
  vertical-align: top;
}

.home-scr-4 .container .list div p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.description {
  text-align: center;
  font-size: 25px;
}

.services {
  display: flex;
  margin: 10vh auto;
  max-width: 1200px;
  /* width: 100%; */
  justify-content: center;
}

.section-4__svg {
  width: 150px;
  height: 60px;
  fill: #fff;
}

.singleService {
  display: flex;
  box-sizing: border-box;
  border-radius: 3px;
  width: 380px;
  height: 150px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 30px;
}

.singleService.fadeInUp p {
  text-align: start;
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px;
  color: #fff;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .services {
    margin: 20px auto;
    max-width: 900px;
    /* width: 100%; */
    justify-content: center;
  }
  .singleService {
    display: block;
    width: 300px;
    height: auto;
    padding: 30px;
  }
  .singleService.fadeInUp p {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services {
    margin: 50px auto;
    max-width: 900px;
    /* width: 100%; */
    justify-content: center;
  }
  .description {
    font-size: 20px;
  }
  .singleService {
    display: block;
    width: 300px;
    height: auto;
    padding: 30px;
  }
  .singleService.fadeInUp p {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services {
    display: block;
    margin: 50px auto;
    max-width: 900px;
    /* width: 100%; */
    justify-content: center;
  }
  .description {
    font-size: 16px;
  }
  .singleService {
    display: block;
    width: 300px;
    height: auto;
    padding: 30px;
    margin: 0 auto;
  }
  .singleService.fadeInUp p {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .section-4__svg {
    width: 100px;
    height: 50px;
    fill: #fff;
  }
}

.section-5 .home_four {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(./../img/baseyn.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 1px;
}

.home_four__container {
  justify-content: center;
}

.hFour_items {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  color: #fff;
  margin: 150px auto;
}

.section-5__svg {
  width: 80px;
  height: 80px;
  fill: #fff;
  margin-right: 20px;
}

.hTwo_title {
  margin-top: 100px;
}

.hFour_singleItem {
  display: flex;
  width: 340px;
  margin-right: 90px;
  align-items: center;
  justify-content: center;
}

.hFour_singleItem.d-3 {
  margin-right: 0px;
}

.hFour_singleItem span {
  max-width: 230px;
  font-size: 18px;
  line-height: 21px;
  text-align: start;
}

.hFour_singleItem {
  margin-bottom: 48px;
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .section-5 .home_four {
    margin-top: 500px;
  }
  .home_four__container {
    height: 100%;
  }
  .hFour_items {
    width: 750px;
    margin: 100px auto;
    justify-content: space-between;
  }
  .hTwo_title {
    margin-top: 100px;
  }
  .hFour_singleItem {
    width: 350px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-5 .home_four {
    margin-top: 350px;
  }
  .home_four__container {
    height: 100%;
  }
  .hFour_items {
    width: 700px;
    margin: 100px auto;
  }
  .section-5__svg {
    width: 60px;
    height: 60px;
    fill: #fff;
    margin-right: 20px;
  }
  .hTwo_title {
    width: 600px;
    margin: 50px auto;
  }
  .hFour_singleItem {
    width: 350px;
    margin-right: 0px;
  }
  .hFour_singleItem span {
    max-width: 200px;
    font-size: 16px;
    line-height: 18px;
  }
  .hFour_singleItem {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-5 .home_four {
    margin-top: 450px;
    padding-bottom: 450px;
    box-sizing: content-box;
  }
  .home_four__container {
    height: 1140px;
  }
  .hFour_items {
    display: block;
    width: 280px;
    margin: 100px auto;
  }
  .section-5__svg {
    width: 60px;
    height: 60px;
    fill: #fff;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .hTwo_title {
    width: 280px;
    margin: 100px auto;
  }
  .hTwo_title h2 {
    font-size: 18px;
  }
  .hFour_singleItem {
    display: block;
    width: 280px;
    margin-right: 0px;
  }
  .hFour_singleItem span {
    display: block;
    text-align: center;
    max-width: 280px;
    font-size: 14px;
    line-height: 15px;
  }
  .hFour_singleItem {
    margin-bottom: 48px;
  }
}

:root {
  --primary-text-color: #000;
  --primary-white-color: #fff;
  --accent-color: #B88E3B;
  --gray-color: #e7e7e7;
}

.footer .container {
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(./../img/girl.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  width: 100%;
  display: fle-end;
  justify-content: end;
  max-width: 1250px;
  margin: auto;
  background-color: transparent;
}

.w75 {
  display: flex;
}

.contacts.d-f.jc-sb {
  display: flex;
  justify-content: flex-end;
}

.contacts .name {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 3px 5px 2px #474747;
}

.animated.d-5 {
  animation-delay: .5s;
}

.contacts .description .fadeInUp-link {
  text-decoration: none;
  text-align: start;
  color: #fff;
  font-weight: bold;
  text-shadow: 3px 5px 2px #474747;
}

.contacts .description .fadeInUp-link:hover,
.contacts .description .fadeInUp-link:focus {
  color: #B88E3B;
}

.mapGoogle.active {
  display: block;
}

.mapGoogle.active iframe {
  width: 300px;
  height: 300px;
  margin-top: 261px;
}

.btnsMapSwitch .btnMap.active {
  background-color: #B88E3B;
  color: #fff;
  width: 150px;
}

.btnsMapSwitch .btnMap.active:hover,
.btnsMapSwitch .btnMap.active:focus {
  background-color: #d49517;
}

.btnsMapSwitch .btnMap {
  padding: 18px 50px;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.fadeInUp {
  text-align: center;
}

.title.fadeInUp h2 {
  margin-top: 50px;
  text-align: end;
  margin-right: 30px;
}

.singlePostForm {
  width: 240px;
  height: 480px;
  border-radius: 3px;
  padding: 22px;
  margin-left: 26px;
  text-align: center;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  color: white;
  text-shadow: 1px 1px 1px #000;
  color: #fcfcfc;
}

.singlePostForm .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #f5f1f1;
  font-weight: bold;
}

.singlePostForm .description {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.singlePostForm .form input {
  box-sizing: border-box;
  width: 240px;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  outline: none;
  border-radius: 0;
  color: white;
}

.blockSubmit input {
  letter-spacing: 5px;
}

.blockSubmit .wpcf7-form-control:hover,
.blockSubmit .wpcf7-form-control:focus {
  background-color: #d49517;
}

.singlePostForm .form {
  margin-top: 26px;
}

.singlePostForm .contacts {
  margin: 20px 0;
}

.singlePostForm .form .wpcf7-form textarea {
  box-sizing: border-box;
  height: 50px;
  width: 240px;
  padding: 10px 10px;
  margin: 0 0 38px;
  color: #030303;
  border: none;
  border-bottom: 1px solid #020202;
  resize: vertical;
}

.wpcf7-submit {
  background-color: #B88E3B;
}

form div {
  width: 240px;
}

.fadeInUp a {
  text-decoration: none;
  color: white;
}

.description__fadeInUp {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.fadeInUp__svg {
  width: 17px;
  height: 17px;
  fill: white;
  margin-right: 20px;
}

.placeholder .fadeInUp__svg {
  width: 60px;
  height: 30px;
}

.social .fadeInUp__svg {
  margin: 0px;
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  fill: white;
}

.fadeInUp__svg:hover,
.fadeInUp__svg:focus {
  fill: #B88E3B;
}

.wpcf7-form-control::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .contacts {
    max-width: 950px;
  }
  .contacts.d-f.jc-sb {
    justify-content: end;
  }
  .title.fadeInUp h2 {
    margin-top: 50px;
    text-align: center;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contacts {
    max-width: 700px;
  }
  .contacts.d-f.jc-sb {
    justify-content: center;
  }
  .title.fadeInUp h2 {
    margin-top: 50px;
    text-align: center;
    margin-right: 0px;
  }
  .mapGoogle.active iframe {
    width: 300px;
    height: 300px;
    margin-top: 261px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    max-width: 280px;
    margin-bottom: 30px;
  }
  .contacts.d-f.jc-sb {
    display: block;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .title.fadeInUp h2 {
    margin: 0;
    text-align: center;
  }
  .mapGoogle.active iframe {
    width: 280px;
    height: 360px;
    margin-top: 0;
  }
  .singlePostForm {
    width: 240px;
    padding: 22px;
    margin: 0px;
  }
  .w75 {
    display: flex;
    flex-flow: column wrap;
  }
  .w50 {
    margin: 50px 0;
    order: 2;
  }
  .w25 {
    order: 1;
  }
}
/*# sourceMappingURL=main.css.map */