

@media only screen and (min-width: 1050px) {
  body::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
  }
}

a {
  color: #fff;
  text-decoration: none;
}
.localizations {
  position: absolute;
  display: block;
  top: 74px;
  right: 57px;
}
.localizations .local-cur {
  display: none;
}
.localizations ul {
  display: block;
}
.localizations li {
  width: 41px;
  height: 41px;
  border-radius: 50px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin: 0;
}
.localizations li.active {
  background: #bdbcb9;
}
.localizations a {
  font-size: 10px;
  color: #ffffff;
  line-height: 41px;
  vertical-align: top;
  display: inline-block;
  font-weight: 900;
}
/*a.logo {*/
  /*position: relative;*/
/*}*/
/*a.logo:before {*/
  /*background: url("logo.png");*/
  /*display: block;*/
  /*content: "";*/
  /*position: absolute;*/
  /*width: 30px;*/
  /*height: 40px;*/
/*}*/
/*a.logo img {*/
  /*display: block;*/
/*}*/
/* --------------------------------

Main Components

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"]:not(.touchdev) {
      overflow: hidden;
  }
  body:not(.touchdev) .cd-section h2 {
      font-size: 4rem;
      font-weight: 300;
  }
  [data-hijacking="on"]:not(.touchdev) .cd-section {
      opacity: 1 !important;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }

  [data-hijacking="on"]:not(.touchdev) .cd-section > div {
      visibility: visible;
  }

  [data-hijacking="off"]:not(.touchdev) .cd-section > div {
      opacity: 0;
  }

  [data-animation="rotate"]:not(.touchdev) .cd-section {
      /* enable a 3D-space for children elements */
      -webkit-perspective: 1800px;
      -moz-perspective: 1800px;
      perspective: 1800px;
  }

  [data-hijacking="on"][data-animation="rotate"]:not(.touchdev) .cd-section:not(:first-of-type) {
      -webkit-perspective-origin: center 0;
      -moz-perspective-origin: center 0;
      perspective-origin: center 0;
  }

  [data-animation="scaleDown"]:not(.touchdev) .cd-section > div,
  [data-animation="gallery"]:not(.touchdev) .cd-section > div,
  [data-animation="catch"]:not(.touchdev) .cd-section > div {
      box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }

  [data-animation="opacity"]:not(.touchdev) .cd-section.visible > div {
      z-index: 1;
  }
  body:not(.touchdev) .cd-section:first-of-type > div::before {
      display: none;
  }
  body:not(.touchdev) .cd-section > div {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      /* Force Hardware Acceleration */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  [data-hijacking="on"]:not(.touchdev) .cd-section > div {
      position: absolute;
      max-width: 100%;
  }

  [data-animation="rotate"]:not(.touchdev) .cd-section > div {
      -webkit-transform-origin: center bottom;
      -moz-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      -o-transform-origin: center bottom;
      transform-origin: center bottom;
  }
}

.cd-section,
.cd-section .container {
  height: 100vh;
}

.cd-section:first-of-type > div {
  /* background: url(./hero.jpg) center no-repeat #fefefe; */
  background-size: cover;
}

.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  /*content: 'Effects not visible on mobile!';*/
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}



header ul, section:first-child {
  display: none
}

.home-scr-1 h1, .left-picture {
  -webkit-transform: translateY(-50%)
}

* {
  margin: 0;
  padding: 0
}

html {
  font-size: 10px
}

body, html {
  min-height: 100%;
  height: 100%
}

body {
  width: 100%;
  min-width: 20pc;
  background: url(./hero.jpg) center no-repeat #fefefe;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.container, header {
  width: 100%;
 /* max-width: 20in*/
}

::-webkit-input-placeholder {
  color: #fff
}

::-moz-placeholder {
  color: #fff
}

:-moz-placeholder {
  color: #fff
}

:-ms-input-placeholder {
  color: #fff
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 10pc;
  padding: 47px 60px 0;
  z-index: 100;
  opacity: 0;
  text-align: center;
}

header ul {
  float: right
}

header ul li {
  float: left;
  list-style: none;
  margin-left: 52px
}

header ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  transition: color .3s ease
}

header.inverse-color a {
  color: #999
}

header.inverse-color .logo {
  float: left
}

header.white-menu a {
  color: #fff
}

header.no-bg {
  background: 0 0;
  height: 60px
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  overflow: hidden
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-SAYAMA-RS {
  width: 2.865234375em;
}
.home-scr-1 .hero {
  text-align: center;
  position: absolute;
  top: 50%;
  justify-content: center;
  transform: translateY(-50%);
  color: #ffffff;
  position: relative;
  max-width: 994px;
  margin: 0 auto;
}

.hero h1{
  font-size: 40px;
  font-weight: bold;
}

.hOne_services{
  justify-content: center;
  text-align: center;
}

.hOne_services{
  display: flex;
}
.home-scr-1 h1:before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 480px;
  top: 203px;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
}

.home-scr-1 h1 span {
  font-size: 36px;
  display: block;
  line-height: 6rem;
  font-weight: 400;
  text-transform: none;
  position: relative;
  margin-top: 103px;
}
.home-scr-1 h1 span .font-l {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  margin-top: 14px;
}



.circles-wrapper{
  background: rgba(2, 2, 2, 0.5);
  padding: 0 150px;
  box-sizing: content-box;
}
.home-scr-5 .container {
  background: #ecc619;
}
.home-scr-5 h2,
.home-scr-3 h2,
.home-scr-4 h2{
  font-size: 120px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-bottom: 68px;
}
.home-scr-4 h2 {
  color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
}
.home-scr-3 .circles-wrapper {
  max-width: 1313px;
}
.home-scr-5 .circles-wrapper {
  max-width: 1313px;
}
a.center {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  bottom: 0;
  left: 0;
}
a.center.c1 {
  bottom: 20px;
}
a.center.c1:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url("mangosp.svg");
  background-position: -1132px -95px;
  margin-right: 8px;
}
.home-scr-4 .container {
  background-size: cover;
  background-image: url(./futter.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.home-scr-4 .container .list {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.home-scr-4 .container .list div {
  text-align: left;
  width: 32.333%;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  max-width: 397px;
  box-sizing: border-box;
  padding-left: 46px;
  min-height: 136px;
  margin-bottom: 80px;
  vertical-align: top;
}
.home-scr-4 .container .list div p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.circles-wrapper .circle-block h3, .home-scr-4 .block-center h2, .right-text-block h2, .right-text-block span.link {
  font-weight: 400;
}

.circles-wrapper, .left-picture, .right-text-block {
  top: 50%;
  position: absolute
}

.home-scr-1 h1, .home-scr-1 header {
  opacity: 1 !important
}

.left-picture {
  width: 42%;
  opacity: 0;
  transform: translateY(-50%);
  padding-left: 6rem;
  text-align: right
}

.left-picture img {
  width: 100%;
  max-width: 660px
}

.right-text-block {
  width: 39%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 6rem;
  text-align: left
}

.right-text-block h2 {
  color: #f16682;
  text-align: left;
  margin-bottom: 2rem;
  opacity: 0
}

.right-text-block p {
  color: #666;
  margin-bottom: 4rem;
  line-height: 3rem;
  opacity: 0
}

.right-text-block span.link {
  border: 1px solid #f16682;
  line-height: 30px;
  color: #f16682;
  text-decoration: none;
  padding: 8px 20px 4px;
  display: inline-block;
  transition: background .3s ease, color .3s ease;
  opacity: 0
}

.right-text-block span.link:hover {
  background: #f2708a;
  cursor: pointer;
  color: #fff
}
.home-scr-3 .container{
  background-color: rgb(44, 25, 129);
}
.home-scr-3 .lg.d-f{
  background-color: rgb(100, 97, 114);
}

.home-scr-3 > div {
  background: url(../bundles/roliqueapp/images/radial_gradient.png) center bottom no-repeat;
  background-size: cover
}
.home-scr-5 > div {
  background: url(../bundles/roliqueapp/images/radial_gradient.png) center bottom no-repeat;
  background-size: cover
}

.circles-wrapper {
  left: 50%;
  height: 710px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: 100%
}

.circles-wrapper .circle-block-design, .circles-wrapper .circle-block-development {
  left: 0
}

.circles-wrapper .circle-block {
  width: 20%;
  margin: 0 2.5%;
  text-align: center;
  position: absolute;
  left: 0;
  opacity: 0
}

.circles-wrapper .circle-block .circle {
  width: 208px;
  height: 208px;
  border-radius: 150px;
  border: 105px solid rgba(255, 255, 255, .24);
  margin: 0 auto 2.2rem;
  position: relative;
  top: 0
}


.circles-wrapper .circle-block .icon {
  width: 150px;
  height: 150px;
  margin: -2px auto 0;
  opacity: 0;
  -webkit-transform: scale(.2);
  transform: scale(.2);
  position: relative;
  z-index: 1
}

.circles-wrapper .circle-block .icon.visible {
  opacity: 1
}

.circles-wrapper .circle-block h3 {
  font-size: 36px;
  opacity: 0;
  font-weight: 700;
  line-height: 48px;
  display: inline-block;
}
.for-h {
  height: 96px;
  margin: 4px 0 25px;
  line-height: 96px;
}
.circles-wrapper .circle-block p {
  font-size: 18px;
  opacity: 0;
  color: #ffffff;
  font-weight: normal;
}
span[class^="icon-"] {
  background: url("mangosp.svg");
  width: 208px;
  height: 208px;
  position: absolute !important;
  margin: 0;
  padding: 0;
  top: -104px;
  left: -104px
}
span.icon-2 {
  background-position: -208px 0;
}
span.icon-3 {
  background-position: -416px 0;
}
span.icon-4 {
  background-position: -624px 0;
}
.circles-wrapper .circle-block-data {
  left: 50%
}

.circles-wrapper .circle-block-data .icon {
  background: url(../bundles/roliqueapp/images/icon_data.png) center no-repeat
}

.home-scr-4 .block-center {
  position: absolute;
  top: 47%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0
}

.home-scr-4 .block-center h2 {
  color: #2b93d1;
  margin-bottom: 1rem;
  background: url(../bundles/roliqueapp/images/icon_comm.png) top center no-repeat;
  padding-top: 78px
}

.home-scr-4 .block-center p {
  color: #666;
}

.home-scr-4 .form-block {
  background: #2b93d1;
  color: #fff;
  position: absolute;
  right: -50%;
  top: 0;
  width: 50%;
  height: 100%
}

.home-scr-4 .form-block form {
  display: block;
  width: 66%;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.home-scr-4 .form-block form .form-item-more {
  visibility: hidden;
  height: 0
}

.home-scr-4 .form-block input[type=text], .home-scr-4 .form-block input[type=email] {
  height: 58px;
  padding: 4px 18px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  background: 0 0;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  outline: 0
}

.home-scr-4 .form-block button[type=submit] {
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 1pc 0;
  border: 1px solid #257fb3;
  outline: 0;
  background: 0 0
}

.home-scr-4 .form-block button[type=submit]:hover {
  background: #257fb3;
  cursor: pointer
}

.home-scr-4 .form-block textarea {
  padding: 21px 18px;
  color: #fff;
  font-size: 20px;
  height: 198px;
  border: 1px solid #fff;
  background: 0 0;
  margin-bottom: 5pc;
  display: block;
  width: 100%;
  outline: 0;
  resize: none
}

.home-scr-4 .form-block a.imprint {
  font-size: 1.6rem;
  position: absolute;
  right: 10px;
  bottom: 4px
}

.home-scr-4 .form-block a.imprint:hover {
  text-decoration: underline
}

.icon-mouse {
 position: absolute;
 bottom: 5%;
 left: 50%;
  height: 55px;
  width: 33px;
  
}
.cont-box {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  max-height: 800px;
}
/* @-webkit-keyframes bounce {
  from, 20%, 40%,60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }

  40% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
  }

  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, 15px, 0);
      transform: translate3d(0, 15px, 0);
  }

  90% {
      -webkit-transform: translate3d(0,0px,0);
      transform: translate3d(0,0px,0);
  }
} */
@keyframes bounce {
  from, 20%, 40%,60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(1.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }

  40% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
  }

  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, 12px, 0);
      transform: translate3d(0, 12px, 0);
  }

  90% {
      -webkit-transform: translate3d(0,5px,0);
      transform: translate3d(0,5px,0);
  }
}

.bounce {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 1s;
  transition-timing-function: ease-in;
  transition-duration: 10s;
  animation-iteration-count: 3;
}

@media (min-width: 1050px) {
  .touchdev .home-scr-1 h1, .left-picture {
      -webkit-transform: translateY(0)
  }

  .touchdev header {
      position: absolute;
      top: 0;
      display: none
  }

  .touchdev .home-scr-1 header {
      display: block
  }

  .touchdev .circles-wrapper .circle-block p br, .touchdev .right-text-block br {
      display: none
  }

  .touchdev .cd-section, .touchdev .cd-section .container {
      height: auto !important
  }

  .touchdev .cd-section .container {
      padding: 12rem 0
  }

  .touchdev .home-scr-1 h1 {
      position: static;
      transform: translateY(0);
  }

  .touchdev .left-picture {
      position: static;
      float: left;
      padding-left: 3rem;
      transform: translateY(0)
  }

  .touchdev .right-text-block {
      float: right;
      padding-right: 3rem;
      width: 46%;
      padding-top: 4rem
  }

  .touchdev .circles-wrapper {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      max-width: 100%;
      height: auto
  }

  .touchdev .circles-wrapper .circle-block {
      position: static;
      float: left;
      width: 25%;
      padding: 0 1.5rem;
      margin: 0;
      opacity: 1;
  }

  .touchdev .circles-wrapper .circle-block .circle {
      top: 0;
  }

  .touchdev .circles-wrapper .circle-block .circle .icon {
      width: 77px;
      height: 5pc;
      background-size: 43% !important
  }

  .touchdev .circles-wrapper .circle-block h3,
  .touchdev .circles-wrapper .circle-block p{
      opacity: 1;
  }

  .touchdev .home-scr-4 .container {
      padding: 0
  }

  .touchdev .home-scr-4 .block-center {
      float: left;
      width: 100%
  }

  .touchdev .home-scr-4 .form-block {
      position: relative;
      right: -50%;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      float: right;
      width: 50%
  }

  .touchdev .home-scr-4 .form-block form {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      margin: 0 auto;
      padding: 6rem 0;
      width: 84%
  }
  .touchdev .home-scr-4 .container .list {
      padding: 0 30px;
  }
  .touchdev .home-scr-4 .container .list div {
      padding-left: 90px;
      width: 49%;
  }
  .touchdev .home-scr-1 h1 {
      padding: 0 30px;
  }

  .touchdev a.center {
      position: static;
      margin: 10px 0 30px;
  }
  .touchdev .cont-box {
      max-height: 100%;
      position: static;
  }

  .touchdev header ul, .touchdev section:first-child {
      display: block;
  }
}

@media (min-width: 958px) and (max-width: 1049px) {
  .home-scr-1 h1, .left-picture {
      -webkit-transform: translateY(0)
  }

  header {
      position: absolute;
      top: 0;
      display: none
  }

  .home-scr-1 header {
      display: block
  }

  .circles-wrapper .circle-block p br, .right-text-block br {
      display: none
  }

  .cd-section, .cd-section .container {
      height: auto !important
  }

  .cd-section .container {
      padding: 12rem 0
  }

  .home-scr-1 h1 {
      position: static;
      transform: translateY(0);
  }

  .left-picture {
      position: static;
      float: left;
      padding-left: 3rem;
      transform: translateY(0)
  }

  .right-text-block {
      float: right;
      padding-right: 3rem;
      width: 46%;
      padding-top: 4rem
  }

  .circles-wrapper {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      max-width: 100%;
      height: auto
  }

  .circles-wrapper .circle-block {
      position: static;
      float: left;
      width: 25%;
      padding: 0 1.5rem;
      margin: 0;
      opacity: 1;
  }

  .circles-wrapper .circle-block .circle {
      top: 0;
  }

  .circles-wrapper .circle-block .circle .icon {
      width: 77px;
      height: 5pc;
      background-size: 43% !important
  }

  .circles-wrapper .circle-block h3,
  .circles-wrapper .circle-block p{
      opacity: 1;
  }

  .home-scr-4 .container {
      padding: 0
  }

  .home-scr-4 .block-center {
      float: left;
      width: 100%
  }

  .home-scr-4 .form-block {
      position: relative;
      right: -50%;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      float: right;
      width: 50%
  }

  .home-scr-4 .form-block form {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      margin: 0 auto;
      padding: 6rem 0;
      width: 84%
  }
  .home-scr-4 .container .list {
      padding: 0 30px;
  }
  .home-scr-4 .container .list div {
      padding-left: 90px;
      width: 49%;
  }
  .home-scr-1 h1 {
      padding: 0 30px;
  }

  a.center {
      position: static;
      margin: 10px 0 30px;
  }
  .cont-box {
      max-height: 100%;
      position: static;
  }

  header ul, section:first-child {
      display: block;
  }
}



@media (max-width: 958px) {
  header {
      position: absolute;
      top: 0;
      display: none
  }

  .home-scr-1 header {
      display: block;
      opacity: 1
  }

  .cd-section, .cd-section .container, .cd-section > div {
      height: auto
  }

  .cd-section > div {
      padding: 75pt 0
  }

  .home-scr-1 > div {
      padding-top: 180px
  }

  .home-scr-1 h1 {
      position: static;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      font-size: 8rem;
      line-height: 9.5rem;
      padding: 0 20px;
  }

  .circles-wrapper, .left-picture, .right-text-block {
      position: static;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  .left-picture {
      float: left
  }

  .right-text-block {
      float: right;
      width: 50%;
      padding-right: 2rem
  }

  .right-text-block h2, .right-text-block p, .right-text-block span.link {
      opacity: 1
  }

  .right-text-block br {
      display: none
  }

  .circles-wrapper {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      max-width: 100%;
      height: auto;
      opacity: 1
  }

  .circles-wrapper .circle-block {
      position: static;
      float: left;
      width: 50%;
      margin: 0;
      opacity: 1;
      margin-bottom: 6rem;
      min-height: 402px;
  }

  .circles-wrapper .circle-block .circle {
      margin: 0 auto 2.2rem;
      opacity: 1;
      top: 0
  }

  .circles-wrapper .circle-block .circle .icon {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  .circles-wrapper .circle-block h3, .circles-wrapper .circle-block p {
      opacity: 1
  }

  .home-scr-4 .container {
      padding-bottom: 0;
      padding-top: 7rem
  }

  .home-scr-4 .block-center {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      margin-bottom: 7rem;
      opacity: 1
  }

  .home-scr-4 .form-block {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      width: 100%
  }

  .home-scr-4 .form-block form {
      position: static;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      margin: 0 auto;
      padding: 6rem 0
  }

  .home-scr-4 .container .list {
      /*max-width: 500px;*/
      margin: 0 auto;
      overflow: hidden;
  }
  .home-scr-4 .container .list div {
      width: 40%;
      margin-bottom: 30px;
      padding-left: 22px;
      margin-right: -4px;
      vertical-align: top;
  }
  .home-scr-1 h1:before {
      top: 140px;
  }
  .home-scr-3 h2, .home-scr-4 h2 {
      font-size: 8rem;
  }
  .home-scr-5 h2, .home-scr-4 h2 {
      font-size: 8rem;
  }
  a.center {
      position: static;
      margin: 10px 0 30px;
  }

  .icon-mouse {
      display: none;
  }

  .cont-box {
      max-height: 100%;
      position: static;
  }

  header ul, section:first-child {
      display: block;
  }
}

@media (max-width: 600px) {
  .home-scr-1 header {
      padding: 3rem 2.5rem
  }

  .home-scr-1 > div {
      padding-top: 18rem
  }

  .home-scr-1 h1 {
      padding-left: 2.5rem;
      font-size: 4rem;
      line-height: 4.5rem
  }

  .home-scr-1 h1 span {
      margin-top: 1rem;
      padding-top: 1rem;
      font-size: 2rem;
      line-height: 3rem
  }

  .left-picture {
      position: absolute;
      width: 100%;
      top: 0;
      padding: 0
  }

  .left-picture img {
      max-width: 270px;
      height: auto;
      display: block;
      margin: 75px auto 0;
      opacity: .55;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px)
  }

  .right-text-block {
      width: 90%;
      max-width: 20pc;
      margin: 0 auto;
      float: none;
      text-align: center;
      padding: 0
  }

  .right-text-block p {
      text-align: left
  }

  .circles-wrapper .circle-block {
      width: 100%;
      float: none
  }

  .home-scr-4 .form-block input[type=submit] {
      width: 74%
  }

  .home-scr-1 h1:before {
      top: 50px;
      width: 90%;
      height: 2px;
  }

  .home-scr-3 h2, .home-scr-4 h2 {
      font-size: 4rem;
  }
  .home-scr-5 h2, .home-scr-4 h2 {
      font-size: 4rem;
  }
  .for-h {
      height: auto;
      line-height: normal;
  }
  .home-scr-4 .container .list {
      width: 250px;
  }
  .home-scr-4 .container .list div {
      width: 100%;
  }

  a.logo img {
      width: 70%;
      content:url("logo-x2.png");
      margin-top: 4px;
  }
  .localizations {
      right: 22px;
      top: 60px;
  }
  .localizations .local-cur {
      display: block;
      font-size: 10px;
      color: #ffffff;
      font-weight: bold;
      position: relative;
  }
  .localizations .local-cur:before {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #ffffff transparent transparent transparent;
      right: -14px;
      top: 4px;

  }
  body.active-nav .localizations .local-cur:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent #ffffff transparent;

  }
  .localizations ul {
      display: none;
  }
  body.active-nav {
      overflow: hidden;
  }
  body.active-nav .localizations ul {
      display: block;
      position: fixed;
      width: 100%;
      left: 0;
      height: calc(100% - 130px);
      background: #ecc619;
      top: 130px;
      box-sizing: border-box;
      padding-top: 53px;
  }
  body.active-nav .localizations ul li {
      display: block;
      width: 100%;
      border-radius: 0;

  }
  body.active-nav .localizations ul li a {
      font-size: 18px;
      color: #ffffff;
  }
  body.active-nav .localizations ul li.active a {
      color: #ffffff;
  }

}

@media (max-width: 540px) {
  .home-scr-4 .form-block form {
      width: 90%
  }
}


.home-scr-1 .container{
  background: rgba(2, 2, 2, 0.5);
}

/* 

.home_five{
  margin-top: 70px;
background-position: 0 0;
background-repeat: no-repeat;
background-size: 55%;
}
.home_five h2{
  max-width: 320px;
}
.home_five .lg{
justify-content: flex-end;
}
.home_five .lg .description{
width: 58%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 30px 42px 54px 74px;
  margin: 64px 0;
}
.home_five .lg .description p{
line-height: 150%;
}
.home_five .moreCompany{
margin: 20px 0;
cursor: pointer;
}
.home_five .moreCompany a{
color: #000;
text-decoration: none;
}
.home_five .moreCompany img{
margin-left: 10px;
transition: all 0.2s;
}
.home_five .moreCompany:hover img{
margin-left: 13px;
transition: all 0.2s;	
}

.animated {
animation-duration: 800ms;
  animation-fill-mode: both;
}
.animated.infinite {
animation-iteration-count: infinite;
}
.animated.d-1 {
animation-delay: .1s;
}
.animated.d-2 {
animation-delay: .2s;
}
.animated.d-3 {
animation-delay: .3s;
}
.animated.d-4 {
animation-delay: .4s;
}
.animated.d-5 {
animation-delay: .5s;
}
.animated.d-6 {
animation-delay: .6s;
}
.animated.d-7 {
animation-delay: .7s;
}
.animated.d-8 {
animation-delay: .8s;
}
.animated.d-9 {
animation-delay: .9s;
}
.animated.d-10 {
animation-delay: 1s;
}
@media (print), (prefers-reduced-motion: reduce) {
.animated {
  animation-duration: 1ms !important;
  transition-duration: 1ms !important;
  animation-iteration-count: 1 !important; 
}
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
animation-name: fadeInUp;
}
@keyframes fadeInDown {
  from {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  }
to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInLeft {
from {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInRight {
from {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
}
.fadeInRight {
  animation-name: fadeInRight;
} */