body {
  margin: 0;
  font-family: 'Cera Pro', sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: pointer;
}

.li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1272px;
  }
}

header .logo svg {
  position: relative;
  width: 235px;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  top: -15px;
}

.home-scr-1 .container {
  background-color: black;
}

.footer-logo {
  width: 184px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subscribe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subscribe-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
  color: var(--primary-white-color);
  background: var(--primary-text-color);
  border: none;
  padding: 17px 25px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row--text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}

.footer__row--text p {
  margin-bottom: 15px;
}

.footer__row-col {
  width: 615px;
  padding-right: 30px;
}

.footer__row--copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  text-transform: capitalize;
  color: #000000;
}

.contacts {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  background-color: transparent;
}

.contacts.d-f.jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.w75.d-f.jc-sb.fw-w {
  width: 920px;
}

.contacts .w75 {
  padding-bottom: 84px;
}

.w50 {
  width: 50%;
}

.contacts .name {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 30px;
  color: #fff;
}

.contacts .name {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 30px;
}

.contacts .description .item a {
  text-decoration: none;
  color: #fff;
}

.animated.d-5 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.contacts .w100 {
  margin-top: 210px;
  width: 800px;
}

.mapGoogle.active {
  display: block;
}

.btnsMapSwitch .btnMap.active {
  background-color: #B88E3B;
  color: #fff;
  width: 150px;
}

.btnsMapSwitch .btnMap {
  padding: 18px 50px;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.fadeInUp {
  text-align: center;
}

.singlePostForm {
  width: 240px;
  height: 600px;
  border-radius: 3px;
  padding: 22px;
  margin-left: 26px;
  background-color: #fff;
}

.singlePostForm .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.singlePostForm .description {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.singlePostForm .form input {
  width: 240px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  outline: none;
  border-radius: 0;
}

.singlePostForm .form {
  margin-top: 26px;
  margin-bottom: 16px;
}

.singlePostForm .contacts {
  margin-top: 20px;
}

.singlePostForm .form .wpcf7-form textarea {
  height: 90px;
  width: 240px;
  padding: 10px 0;
  margin: 0 0 38px;
  color: #050505;
  border: none;
  border-bottom: 1px solid #020202;
  resize: vertical;
}

.wpcf7-submit {
  background-color: #B88E3B;
}

form div {
  width: 240px;
}

.fadeInUp a {
  text-decoration: none;
  color: #050505;
}

:root {
  --primary-text-color: #000;
  --primary-white-color: #fff;
  --accent-color: #ED3237;
  --gray-color: #e7e7e7;
}
/*# sourceMappingURL=main.css.map */