.section-5 .home_four{
    background-image: url(./../img/baseyn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home_four__container{
    justify-content: center;
}
 .hFour_items {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    color: #fff;
    margin: 150px auto;
}
.section-5__svg{
    width: 80px;
    height: 80px;
    fill: #fff;
    margin-right: 20px;
}
.hTwo_title {
    margin-top: 200px;
}

.hFour_singleItem{
    display: flex;
    width: 340px;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
}
.hFour_singleItem.d-3{
    margin-right: 0px;
}
.hFour_singleItem span {
    max-width: 230px;
    font-size: 18px;
    line-height: 21px;
    text-align: start;
}
.hFour_singleItem {
    margin-bottom: 48px;
}
