.lg.slider__2 {
    margin: auto;
    background-size: cover;
    visibility: visible;
    animation-name: fadeInLeft;
    color: white;
    align-items: flex-start;
    justify-content: center; 
    display: flex;
}
.about_result {
    margin-top: 200px;
    height: 510px;
    width: 500px;
}
.about_result h2{
    margin-bottom: 50px;
}
.singleResult{
    display: flex;
    align-items: center;
}
.singleResult .number {
    font-size: 45px;
    line-height: 76px;
    color: #fcfcfc;
    margin-top: 26px;
    text-align: start;
    margin-right: 20px;
    width: 200px;
}
.numberDescription {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-align: start;
    width: 280px;
}

.hThree_title h2{
    font-size: 30px;
    color: rgb(247, 243, 243);

}

.home_five .lg .description {
    margin-top: 200px;
    width: 600px;
    height: 100%;
    background-color: transparent;

}

.home_five .lg .description p {
    font-size: 20px;
    text-align: start;
    color: rgb(247, 243, 243);
    line-height: 150%;
    margin: 20px;
}
.accordions.d-f{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* margin-left: 170px; */
}
.animated.d-1 {
    animation-delay: .1s;
}
.singleAccord .d-f {
    margin-bottom: 0;
    cursor: pointer;
}
.singleAccord .d-f:Hover,
.singleAccord .d-f:focus {
    color: #b88e3b;
}
.singleAccord .d-f {
    margin-bottom: 0;
    cursor: pointer;
}

.accordionBlock:first-child {
    margin-right: 50px;

}
.singleAccord  {
    margin-top: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 250%;
}

.singleAccord .item {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-1000%);
    padding-right: 15px;
    padding-left: 50px;
    height: 500px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    color: #ffffff;;
}
.showMenu {
    transform: translateX(0);
}
.item p{
    width: 400px;
    height: 400px;
    background-color: blue;
    width: 100%;
    font-size: 16px;
}

.slider__3-backgraund{
    background: rgba(2, 2, 2, 0.3);
}

.hOne_title {
margin-top: 70px;
/* height: 100vh; */
text-align: center;
align-items: center;
justify-content: center;
color: #fff;
}

h1.fadeInUp {
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
}
.description {
    text-align: center;
    font-size: 25px;
}

 .services {
     display: flex;
    margin: 20vh auto;
    max-width: 1200px;
    /* width: 100%; */
    justify-content: center;
}
.section-4__svg{
    width: 150px;
    height: 60px;
    fill: #fff;
}

.singleService {
    display: flex;
    box-sizing: border-box;
    border-radius: 3px;
    width: 380px;
    height: 150px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 30px;
    
}
.singleService.fadeInUp p {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.slider__3-item {
    display: flex;
    width: 1300px;
    margin: 0px auto;
 }
 .slider__3-list {
     height: 250px;
     width: 200px;
     margin-left: 20px;
 }
 .slider__3-list:first-child{
     margin-left: 0;
 }
 
 
 .slider__3-img {
     height: auto;
     width: 200px;
 }
 .slider__3-text {
     font-size: 15px;
     line-height: 20px;
     text-align: center;
     padding: 0 3px;
     color: #fff;
     background-color: black;
 }

 @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .home_five .lg .description {
        margin-top: 100px
    }

    .about_result {
        height: auto;
        width: 400px;
        margin-top: 100px;
        justify-content: center;
        text-align: center;

    }
    .singleResult{
        display: block;
        text-align: center;
        
    }
    .hThree_title h2{
        padding: 0;
    }
    .singleResult .number {
        font-size: 45px;
        line-height: 76px;
        color: #fcfcfc;
        margin-top: 0px;
        text-align: center;
        margin: 0 auto;
        width: 200px;
    }

    .numberDescription {
        margin: 0px auto;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
        text-align: start;
        width: 280px;
    }
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
   
    .home_five .lg .description {
        margin-top: 100px;

    }
    .about_result {
        height: auto;
        width: auto;
        // margin-top: 120px;
    }
    .singleResult{
        display: block;
        text-align: center;
        
    }
    .hThree_title h2{
        padding: 0;
    }
    .singleResult .number {
        font-size: 45px;
        line-height: 76px;
        color: #fcfcfc;
        margin-top: 0px;
        text-align: center;
        margin-right: 0px;
        width: 200px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .hThree_title h2 {
        font-size: 18px;
    }

    .home_five .lg .description p {
        font-size: 15px;
    }
    
}