.section-5 .home_four{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)), url(./../img/baseyn.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 1px;
}
.home_four__container{
    justify-content: center;
}
 .hFour_items {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    color: #fff;
    margin: 150px auto;
}
.section-5__svg{
    width: 80px;
    height: 80px;
    fill: #fff;
    margin-right: 20px;
}
.hTwo_title {
    margin-top: 100px;
}

.hFour_singleItem{
    display: flex;
    width: 340px;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
}
.hFour_singleItem.d-3{
    margin-right: 0px;
}
.hFour_singleItem span {
    max-width: 230px;
    font-size: 18px;
    line-height: 21px;
    text-align: start;
}
.hFour_singleItem {
    margin-bottom: 48px;
}


@media screen and (min-width: 1024px) and (max-width: 1339px) {
    .section-5 .home_four{
        margin-top: 500px;
    }
    .home_four__container{
        height: 100%; 
    }
    .hFour_items {
        width: 750px;
        margin: 100px auto;
        justify-content: space-between;
    }
    .hTwo_title {
        margin-top: 100px;
    }
    
    .hFour_singleItem{
        width: 350px;
        margin-right: 0px;
    }
    
    
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .section-5 .home_four{
        margin-top: 350px;
    }
    .home_four__container{
        height: 100%; 
    }
    .hFour_items {
        width: 700px;
        margin: 100px auto;
    }
    .section-5__svg{
        width: 60px;
        height: 60px;
        fill: #fff;
        margin-right: 20px;
    }
    .hTwo_title {
        width: 600px;
        margin: 50px auto;
    }
    
    .hFour_singleItem{
        width: 350px;
        margin-right: 0px;
    }
    .hFour_singleItem span {
        max-width: 200px;
        font-size: 16px;
        line-height: 18px;
    }
    .hFour_singleItem {
        margin-bottom: 48px;
    }
    
}
  
  

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-5 .home_four{
        margin-top: 450px;
        padding-bottom: 450px;
        box-sizing: content-box;
    }
    .home_four__container{
        height: 1140px; 
    }
    .hFour_items {
        display: block;
        width: 280px;
        margin: 100px auto;
    }
    .section-5__svg{
        width: 60px;
        height: 60px;
        fill: #fff;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .hTwo_title {
        width: 280px;
        margin: 100px auto;
        & h2{
            font-size: 18px; 
        }
    }
    
    .hFour_singleItem{
        display: block;
        width: 280px;
        margin-right: 0px;
    }
    .hFour_singleItem span {
        display: block;
        text-align: center;
        max-width: 280px;
        font-size: 14px;
        line-height: 15px;
    }
    .hFour_singleItem {
        margin-bottom: 48px;
    }

}