.home-scr-3 .container{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url(./../img/slider__3jpg.webp);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-shadow: none;
}

.container__gallery-hero  {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    box-sizing: border-box;
}

.lg {
  min-height: 100vh;
  max-width: 1224px;
  margin: auto;
  background-size: cover;
  visibility: visible;
  animation-name: fadeInLeft;
  color: white;
  align-items: center;
  justify-content: center;
  
}

.slider__3 .hThree_title{
  padding-top: 50px;
}

.gallery-hero {
    width: 1200px;
    position: relative;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    
        & .content img {
        width: 700px;
        height: 650px;
        object-fit: cover;
        }
        
        .gallery__item {
          height: 100px;
        vertical-align: middle;
        font-size: 20px;
        margin-right: 34px;
        display: flex;
        align-items: center;
        
          
        &.small{
          height: 50px;
        }
        
          &:last-child{
              margin-right: 0px;
          }
    
        }
        
        input[name="select"] {
          margin-right: 10px;
        }
    
    
        .item-hugger {
          display: flex;
          position: relative;
          height: 80px;
          width: 550px;
          margin: 10px 0;
          transition: all 150ms ease-in-out;
          
          &.small{
            height: 50px;
          }
      }
      
      label {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          cursor: pointer;
          height: 100%;
          color: #ffffff;
          &:hover,
          &:focus{
          border-bottom: solid 1px #fff;
          width: 95%;
        }
      }

    .gallery__item:first-child .item-hugger{
      height: 50px;
    }
    
    .item-hugger__title {
        
        position: absolute;
        top: 0;
        left: 0;
        width: 550px;
        font-size: 25px;
        color: rgb(252, 252, 252);
        transition: all 150ms linear;
        list-style: none;
        background-size: 20px;
        text-shadow: -2px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    }
    
    .content {
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 0;
        width: 700px;
        // height: 500px;
        -webkit-box-shadow: 8px 11px 27px -9px rgba(0, 0, 0, 1);
        -moz-box-shadow: 8px 11px 27px -9px rgba(0, 0, 0, 1);
        box-shadow: 8px 11px 27px -9px rgba(0, 0, 0, 1);
    
        .content__info{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 30px;
        box-sizing: border-box;
        width: 85%;
        height:600px;
        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        // backdrop-filter: blur(8px);
        font-family: 'Open Sans', sans-serif;
        
    text-shadow: 1px 1px 1px #000; color: #fcfcfc;
      }
      
      .gallery-title {
        margin-bottom: 30px;
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        color: #ffffff;
        margin-left: 15px;
      }
  
      .gallery-subtitle {
        font-style: normal;
        font-weight: normal;
        list-style: disc;
        font-size: 20px;
        line-height: 24px;
        color: #fffdfd;
        margin-left: 15px;
        width: 100%;
        & li{
            margin-top: 10px;
            padding-right: 10px;
            & ul{
                list-style: square;
                list-style-position: inside;
                margin-left: 20px;
            }
        }
        & h3{
            margin: 20px 0;
        }
      }
    }
    
    
    ::-webkit-scrollbar{
        width: 10px;
    }
    
    ::-webkit-scrollbar-track{
        background: rgba(255, 255, 255, 0.25);
    }
    
    ::-webkit-scrollbar-thumb{
        background: #B88E3B;
    }
    input[name="select"]:checked + .item-hugger {
      height: 35px;
      margin: 0;
  
    //   &::before{
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 170px;
    //     height: 58px;
    //     background: rgba(0, 0, 0, 0.5);
    //     border-bottom: solid 2px var(--accent-color);
    //   }
    }
  
    input[name="select"]:checked ~ .content {
      opacity: 1;
    }
  }
  
//   .white-box {
//     height: 466px;
//     background: rgb(0, 0, 0);
//   }
  .relative.content__image img {
    width: 1272px;
    height: 466px;
    object-fit: cover;
  }
  .content__image {
    height: 466px;
    object-fit: cover;
  }

  @media screen  and (max-height: 780px) and (min-width: 1440px) {
   
    .gallery-hero {
      position: static;
      height: 418px;
      width: 50%;
      margin-right: 610px;
      scroll-snap-type: y mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
  }
    .gallery-hero .content .content__info {
      position: absolute;
      top: 190px;
      right: 100px;
      z-index: 10;
      padding: 30px;
      box-sizing: border-box;
      width: 85%;
      height: 430px;
      scroll-snap-type: y mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      background-color: rgba(0,0,0,0.5);
      // backdrop-filter: blur(8px);
      font-family: 'Open Sans', sans-serif;
  }

  
  ::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb{
    background: #B88E3B;
}
  }

  @media screen and (min-width: 1024px) and (max-width: 1339px) {
    .slider__3 {
      height: 76vh;
      & .lg {
        min-height: 1000px
      }
    }
    
    .gallery-hero {
        height: 100%;
        width: 900px;
    }
    .gallery-hero .content {
    top: 0px;
    right: 0px;
  }
  .gallery-hero .content .content__info {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 30px;
    width: 400px;
    height: 650px;
} 
.gallery-hero .item-hugger__title{
  font-size: 22px;
  width: 450px;
}

.gallery-hero .content .gallery-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 25px;
}
.gallery-hero .content .gallery-subtitle{
  font-size: 16px;
  & h3{
    font-size: 18px;
  }
}
}
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .slider__3 {
      height: 76vh;
      & .lg {
        min-height: 1000px
      }
    }
    .slider__3 .hThree_title {
      padding-top: 100px;
      margin-bottom: 100px;
  }
    .gallery-hero {
        width: 700px;
        .gallery__item{
          
          height: 60px;
        }
  }
    .gallery-hero .content {
    top: 0px;
    right: 0px;
  }
  .gallery-hero .item-hugger {
    height: 50px;
        margin: 10px 0;
    }
    .gallery-hero input[name="select"]:checked+.item-hugger {
      height: 30px;
      margin: 0;
    }
      .gallery-hero .content .content__info {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 30px;
        width: 350px;
        height: 450px;
    } 
    .gallery-hero .item-hugger__title{
      font-size: 15px;
      width: 300px;

    }

    .gallery-hero .content .gallery-title {
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 25px;
    }
    .gallery-hero .content .gallery-subtitle{
      font-size: 14px;
      & h3{
        font-size: 16px;
      }
    }
}
  
  

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__3 {
    height: 76vh;
    & .lg {
      min-height: 1100px
    }
  }
  .slider__3 .hThree_title {
    padding-top: 30px;
    margin-bottom: 0px;
}
.container__gallery-hero{
  display: block;
}
  .gallery-hero {
    
      width: 280px;
  }
  .gallery-hero .content {
  top: 0px;
  right: 0px;
}
.gallery-hero .item-hugger {
  height: 50px;
      margin: 20px 0;
  }
  .gallery-hero input[name="select"]:checked+.item-hugger {
    height: 30px;
    margin: 0;
  }
    .gallery-hero .content .content__info {
      position: absolute;
      top: 500px;
      right: 0px;
      padding: 30px;
      width: 280px;
      height: 400px;
  
  } 
  .gallery-hero .item-hugger__title{
    font-size: 14px;
    width: 280px;

  }

  .gallery-hero .content .gallery-title {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
  }
  .gallery-hero .content .gallery-subtitle{
    font-size: 14px;
    & h3{
      font-size: 16px;
    }
  }
  .gallery-hero .gallery__item {
    margin-right: 0px;
    height: 55px;
}
}