body {
    margin: 0;
    font-family: 'Cera Pro',
    sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
}

.li{
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #22283f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}