body{
    font-family: 'Open Sans', 'Gotham Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: url(../../mango/hero.jpg) center no-repeat;
    background: linear-gradient(to bottom, rgb(10, 10, 10), rgb(2, 26, 53));
}
.bascground {
//  background: linear-gradient(to bottom, rgba(120, 107, 175, 1), rgba(40, 140, 255, 1));
background: linear-gradient(to bottom, rgb(10, 10, 10), rgb(2, 26, 53));
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover, 
a:focus {
    color: #B88E3B;
}


h1,
h2{
    text-transform: uppercase;
}

