.footer-logo{
    width: 184px;
}

.footer__content{
    display: flex;
}

.footer__content--list{
    display: flex;
    flex-wrap: wrap;
}

.footer__subscribe{
    display: flex;
}

.footer__subscribe-list{
    display: flex;
}

.footer__subscribe-list{

}

.footer__subscribe-content{
}

.footer__subscribe-button{
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;
    color: var(--primary-white-color);
    background: var(--primary-text-color);
    border: none;
    padding: 17px 25px;
    
}

.footer__row{
    display: flex;
}

.footer__row--text{
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}

.footer__row--text p{
    margin-bottom: 15px;
}

.footer__row-col {
    width: 615px;
    padding-right: 30px;
}

.footer__row--copyright{
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    text-transform: capitalize;

    color: #000000;
}