.footer .container {
    background-size: cover;
    /* background-image: url(./futter.jpg); */
    background-image: url(../../img/пшкдjpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.contacts{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    background-color: transparent;

}


.contacts.d-f.jc-sb { 
    margin-top: 50px; 
    display: flex;
    justify-content: flex-end;
}
.w75.d-f.jc-sb.fw-w{
    width: 520px;

}
.contacts .w75 {
    padding-bottom: 84px;
}

.contacts .name {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;
    color: #fff;
}
.contacts .name {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;
}
.animated.d-5 {
    animation-delay: .5s;
}

.w100.fadeInUp {
    // margin-top: 70px;
    width: 800px;
    height: 358;
}
.w75  .fadeInUp{
    text-align: start;
    justify-content: start;
    width: 400px;
}

.contacts .description .fadeInUp-link {
    text-decoration: none;
    text-align: start;
    color: #fff;
}

.contacts .description .fadeInUp-link:hover,
.contacts .description .fadeInUp-link:focus{
    color: #B88E3B;
}
.mapGoogle.active {
    display: block;
}

.btnsMapSwitch .btnMap.active {
    background-color: #B88E3B;
    color: #fff;
    width: 150px;
}
.btnsMapSwitch .btnMap.active:hover,
.btnsMapSwitch .btnMap.active:focus{
    background-color: #d49517;
}

.btnsMapSwitch .btnMap {
    padding: 18px 50px;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.fadeInUp {
text-align: center;
}
.title.fadeInUp h2 {
    margin-top: 50px;
text-align: end;
}



.singlePostForm {
    width: 240px;
    height: 610px;
    border-radius: 3px;
    padding: 22px;
    margin-left: 26px;
    background-color: #fff;
    color: rgb(0, 0, 0);
}

.singlePostForm .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}
.singlePostForm .description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
.singlePostForm .form input {
    width: 240px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    outline: none;
    border-radius: 0;
    color: rgb(255, 253, 253);
    
}
.singlePostForm .form input:hover,
.singlePostForm .form input:focus{
    background-color: #d49517;
}




.singlePostForm .form {
    margin-top: 26px;
    margin-bottom: 16px;

}
.singlePostForm .contacts {
    margin-top: 20px;
}
.singlePostForm .form .wpcf7-form textarea {
    height: 90px;
    width: 240px;
    padding: 10px 0;
    margin: 0 0 38px;
    color: rgb(5, 5, 5);
    border: none;
    border-bottom: 1px solid rgb(2, 2, 2);
    resize: vertical;
    
}
.wpcf7-submit{
    background-color: #B88E3B;
}
form div{
    width: 240px;
}
.fadeInUp a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}
.description__fadeInUp {
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 20px;
}
.fadeInUp__svg{
    width: 23px;
    height: 25px;
    fill: white;
    margin-right: 20px;
}
.placeholder .fadeInUp__svg{
    width: 60px;
    height: 30px;
}

.social .fadeInUp__svg{
    margin: 0px;
    padding: 10px;
    margin-top: 20px;
    fill: rgb(0, 0, 0);
}

.fadeInUp__svg:hover, 
.fadeInUp__svg:focus{
    fill: #B88E3B;
}
.wpcf7-form-control::placeholder{
    color: rgb(0, 0, 0);
}
