

header .logo svg {
    position: relative;
    width: 235px;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
    top: -15px;
}

.home-scr-1 .container{
    background-color: black;
}