

@media only screen and (min-width: 1050px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover, 
a:focus {
    color: #B88E3B;
}

body{
    font-family: 'Open Sans', sans-serif;
}
h1,
h2{
    text-transform: uppercase;
}


.localizations {
    position: absolute;
    display: block;
    top: 25px;
    right: 57px;
}
.localizations .local-cur {
    display: none;
}
.localizations ul {
    display: block;
}
.localizations li {
    width: 41px;
    height: 41px;
    border-radius: 50px;
    line-height: 41px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
}
.localizations li.active {
    background: #B88E3B;
    ;
}
.localizations a {
    font-size: 10px;
    color: #ffffff;
    line-height: 41px;
    vertical-align: top;
    display: inline-block;
    font-weight: 900;
}
/* -------------------------------

Main Components

-------------------------------- */
@media only screen and (min-width: 1050px) {
    body[data-hijacking="on"]:not(.touchdev) {
        overflow: hidden;
    }
    body:not(.touchdev) .cd-section h2 {
        /* font-size: 4rem; */
        font-weight: 300;
        font-size: 40px;
        font-weight: bold;
    }
}
    [data-hijacking="on"]:not(.touchdev) .cd-section {
        opacity: 1 !important;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    [data-hijacking="on"]:not(.touchdev) .cd-section > div {
        visibility: visible;
    }

    [data-hijacking="off"]:not(.touchdev) .cd-section > div {
        opacity: 0;
    }

    [data-animation="rotate"]:not(.touchdev) .cd-section {
        /* enable a 3D-space for children elements */
        -webkit-perspective: 1800px;
        -moz-perspective: 1800px;
        perspective: 1800px;
    }

    [data-hijacking="on"][data-animation="rotate"]:not(.touchdev) .cd-section:not(:first-of-type) {
        -webkit-perspective-origin: center 0;
        -moz-perspective-origin: center 0;
        perspective-origin: center 0;
    }

    [data-animation="scaleDown"]:not(.touchdev) .cd-section > div,
    [data-animation="gallery"]:not(.touchdev) .cd-section > div,
    [data-animation="catch"]:not(.touchdev) .cd-section > div {
        box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
    }

    [data-animation="opacity"]:not(.touchdev) .cd-section.visible > div {
        z-index: 1;
    }
    body:not(.touchdev) .cd-section:first-of-type > div::before {
        display: none;
    }
    body:not(.touchdev) .cd-section > div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    [data-hijacking="on"]:not(.touchdev) .cd-section > div {
        position: absolute;
        max-width: 100%;
    }

    [data-animation="rotate"]:not(.touchdev) .cd-section > div {
        -webkit-transform-origin: center bottom;
        -moz-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        -o-transform-origin: center bottom;
        transform-origin: center bottom;
    }


.cd-section,
.cd-section .container {
    height: 100vh;
}

.cd-section:first-of-type > div {
    /* background: url(./hero.jpg) center no-repeat #fefefe; */
    background-size: cover;
}

.cd-section:first-of-type > div::before {

    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    z-index: 2;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #6a7083;
}


.home-scr-1 h1, .left-picture {
    -webkit-transform: translateY(-50%)
}

* {
    margin: 0;
    padding: 0
}

html {
    font-size: 10px
}

body, html {
    min-height: 100%;
    height: 100%
}

body {
    width: 100%;
    min-width: 20pc;
    background: url(./hero.jpg) center no-repeat #fefefe;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}
.container, header {
    width: 100%;
   /* max-width: 20in*/
}

ul{
    list-style: none;
}
::-webkit-input-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}


.container {
    padding: 0;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
.home-scr-1 .hero {
    text-align: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
    max-width: 994px;
    margin: 250px auto;
}

.hero h1{
    font-size: 40px;
    font-weight: bold;
}

.hOne_services{
    justify-content: center;
    text-align: center;
}

.hOne_services{
    display: flex;
    font-size: 25px;
}
.home-scr-1 h1:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 90%;
    top: 103px;
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
}

.home-scr-1 h1 span {
    font-size: 36px;
    display: block;
    line-height: 6rem;
    font-weight: 400;
    text-transform: none;
    position: relative;
    margin-top: 103px;
}
.home-scr-1 h1 span .font-l {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    margin-top: 14px;
}

.home-scr-5 h2,
.home-scr-3 h2,
.home-scr-4 h2{
    font-size: 120px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-bottom: 68px;
}
.home-scr-4 h2 {
    color: #ffffff;
    margin-top: 2%;
    margin-bottom: 2%;
}

a.center {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    bottom: 0;
    left: 0;
}
a.center.c1 {
    bottom: 20px;
}
a.center.c1:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 24px;
    height: 18px;
    background: url("mangosp.svg");
    background-position: -1132px -95px;
    margin-right: 8px;
}

.home-scr-1 h1, .home-scr-1 header {
    opacity: 1 !important
}

.left-picture {
    width: 42%;
    opacity: 0;
    transform: translateY(-50%);
    padding-left: 6rem;
    text-align: right
}

.left-picture img {
    width: 100%;
    max-width: 660px
}


.slider__3-backgraund{
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.1);
}




span[class^="icon-"] {
    background: url("mangosp.svg");
    width: 208px;
    height: 208px;
    position: absolute !important;
    margin: 0;
    padding: 0;
    top: -104px;
    left: -104px
}
span.icon-2 {
    background-position: -208px 0;
}
span.icon-3 {
    background-position: -416px 0;
}
span.icon-4 {
    background-position: -624px 0;
}

.home-scr-4 .block-center {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0
}

.home-scr-4 .block-center h2 {
    color: #2b93d1;
    margin-bottom: 1rem;
    background: url(../bundles/roliqueapp/images/icon_comm.png) top center no-repeat;
    padding-top: 78px
}

.home-scr-4 .block-center p {
    color: #666;
}


.icon-mouse {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 55px;
    width: 33px;
    
}

@keyframes bounce {
    from, 20%, 40%,60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(1.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, 12px, 0);
        transform: translate3d(0, 12px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0);
    }
}

.bounce {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 1s;
    transition-timing-function: ease-in;
    transition-duration: 10s;
    animation-iteration-count: 3;
}

/* /////////////////////////header/////////////////////////// */

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: 20px auto;
}
nav ul{
    display: flex;
    margin-left: 135px;
}




.nav__list {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}
.nav__list:first-child{
    margin-left: 0px;
}
header .logo svg {
    width: 235px;
    height: 100px;
    fill: #fff;
    z-index: 100;
}

.hOne_services span {
    margin-left: 20px;
    margin-right: 20px;
}


.home_five .lg {
    justify-content: flex-end;
}
.lg.d-f{
    
    visibility: visible;
    animation-delay: 0.7s;
    animation-name: fadeInRight;
}

.lg.d-f {
    width: 100%;
    min-height: 600px;
    max-width: 1280px;
    margin: auto;
    background-image: url(./home-sect-1.jpg);
    background-position: center;
    background-size: cover;
    visibility: visible;
    animation-name: fadeInLeft;
    color: white;
    align-items: center;
    justify-content: center; 
}

/* //////////////////////////////Частые вопросы 3 and 4//////////////////////////// */
.home-scr-3 .container{
    background-image: url(./3hour.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
 
    
}
.slider__2{

}


.lg {
    width: 100%;
    min-height: 100vh;
    max-width: 1224px;
    margin: auto;
    background-size: cover;
    visibility: visible;
    animation-name: fadeInLeft;
    color: white;
    align-items: center;
    justify-content: center; 
}
.lg.slider__2 {
    display: flex;
}
.about_result {
    height: 510px;
    width: 500px;
}
.about_result h2{
    margin-bottom: 50px;
}
.singleResult{
    display: flex;
    align-items: center;
}
.singleResult .number {
    font-size: 45px;
    line-height: 76px;
    color: #fcfcfc;
    margin-top: 26px;
    text-align: start;
    margin-right: 20px;
    width: 200px;
}
.numberDescription {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-align: start;
    width: 280px;
}

.hThree_title h2{
    padding-top: 80px;
    font-size: 30px;
    color: rgb(247, 243, 243);

}

.home_five .lg .description {
    width: 600px;
    height: 100%;
    background-color: transparent;
    padding: 0px 42px 54px 74px;
    /* margin: 40px 0 0 100px; */
}

.home_five .lg .description p {
    font-size: 20px;
    text-align: start;
    color: rgb(247, 243, 243);
    line-height: 150%;
    margin: 20px;
}
.accordions.d-f{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* margin-left: 170px; */
}
.animated.d-1 {
    animation-delay: .1s;
}
.singleAccord .d-f {
    margin-bottom: 0;
    cursor: pointer;
}
.singleAccord .d-f:Hover,
.singleAccord .d-f:focus {
    color: #b88e3b;
}
.singleAccord .d-f {
    margin-bottom: 0;
    cursor: pointer;
}

.accordionBlock:first-child {
    margin-right: 50px;

}
.singleAccord  {
    margin-top: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 250%;
}

.singleAccord .item {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-1000%);
    padding-right: 15px;
    padding-left: 50px;
    height: 500px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    color: #ffffff;;
}
.showMenu {
    transform: translateX(0);
}
.item p{
    width: 400px;
    height: 400px;
    background-color: blue;
    width: 100%;
    font-size: 16px;
}
/* .singleAccord:hover .item,
.singleAccord:active .item{
    transform: translate(0%);
}  */
/* .d-f:hover ~ .item,
.d-f:active ~ .item {
    display: block;
    
} */
.slider__3-backgraund{
    background: rgba(2, 2, 2, 0.3);
}

.hOne_title {
margin-top: 70px;
/* height: 100vh; */
text-align: center;
align-items: center;
justify-content: center;
color: #fff;
}

h1.fadeInUp {
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
}
.description {
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}

 .services {
     display: flex;
    margin: 20vh auto;
    max-width: 1200px;
    /* width: 100%; */
    justify-content: center;
}
.section-4__svg{
    width: 150px;
    height: 60px;
    fill: #fff;
}

.singleService {
    display: flex;
    box-sizing: border-box;
    border-radius: 3px;
    width: 380px;
    height: 150px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 30px;
    
}
.singleService.fadeInUp p {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.slider__3-item {
    display: flex;
    width: 1300px;
    margin: 0px auto;
 }
 .slider__3-list {
     height: 250px;
     width: 200px;
     margin-left: 20px;
 }
 .slider__3-list:first-child{
     margin-left: 0;
 }
 
 
 .slider__3-img {
     height: auto;
     width: 200px;
 }
 .slider__3-text {
     font-size: 15px;
     line-height: 20px;
     text-align: center;
     padding: 0 3px;
     color: #fff;
     background-color: black;
 }


/* /////////////////////////// slider///////////////////////////////// */


/* /////////////////////////// slider///////////////////////////////// */


/* //////////////////////////////Частые вопросы//////////////////////////// */


.home-scr-4 .container {
    background-size: cover;
    background-image:   url(./house1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
}

.home-scr-4 .container .list {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.home-scr-4 .container .list div {
    text-align: left;
    width: 32.333%;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    max-width: 397px;
    box-sizing: border-box;
    padding-left: 46px;
    min-height: 136px;
    margin-bottom: 80px;
    vertical-align: top;
}
.home-scr-4 .container .list div p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
/* ////////////////////////section-5////////////////////////////// */


.section-5 .home_four{
    background-image: url(./baseyn.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    
}
.home_four__container{
    justify-content: center;
}
 .hFour_items {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    color: #fff;
    margin: 150px auto;
}
.section-5__svg{
    width: 80px;
    height: 80px;
    fill: #fff;
    margin-right: 20px;
}
.hTwo_title {
    margin-top: 200px;
}

.hFour_singleItem{
    display: flex;
    width: 340px;
    margin-right: 90px;
    align-items: center;
    justify-content: center;
}
.hFour_singleItem.d-3{
    margin-right: 0px;
}
.hFour_singleItem span {
    max-width: 230px;
    font-size: 18px;
    line-height: 21px;
    text-align: start;
}
.hFour_singleItem {
    margin-bottom: 48px;
}
/* ////////////////////////section-5////////////////////////////// */



/* ///////////////footer///////////////// */

.footer .container {
    background-size: cover;
    /* background-image: url(./futter.jpg); */
    background-image: url(./пшкдjpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.contacts{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    background-color: transparent;

}


.contacts.d-f.jc-sb { 
    margin-top: 50px; 
    display: flex;
    justify-content: flex-end;
}
.w75.d-f.jc-sb.fw-w{
    width: 520px;

}
.contacts .w75 {
    padding-bottom: 84px;
}

.contacts .name {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;
    color: #fff;
}
.contacts .name {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 30px;
}
.animated.d-5 {
    animation-delay: .5s;
}

.w100.fadeInUp {
    margin-top: 70px;
    width: 800px;
    height: 358;
}
.w75  .fadeInUp{
    text-align: start;
    justify-content: start;
    width: 400px;
}

.contacts .description .fadeInUp-link {
    text-decoration: none;
    text-align: start;
    color: #fff;
}

.contacts .description .fadeInUp-link:hover,
.contacts .description .fadeInUp-link:focus{
    color: #B88E3B;
}
.mapGoogle.active {
    display: block;
}

.btnsMapSwitch .btnMap.active {
    background-color: #B88E3B;
    color: #fff;
    width: 150px;
}
.btnsMapSwitch .btnMap.active:hover,
.btnsMapSwitch .btnMap.active:focus{
    background-color: #d49517;
}

.btnsMapSwitch .btnMap {
    padding: 18px 50px;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.fadeInUp {
text-align: center;
}
.title.fadeInUp h2 {
    margin-top: 50px;
text-align: end;
}



.singlePostForm {
    width: 240px;
    height: 610px;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    border-radius: 3px;
    padding: 22px;
    margin-left: 26px;
    background-color: #fff;
}

.singlePostForm .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.singlePostForm .description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}
.singlePostForm .form input {
    width: 240px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    outline: none;
    border-radius: 0;
    color: rgb(255, 253, 253);
    
}
.singlePostForm .form input:hover,
.singlePostForm .form input:focus{
    background-color: #d49517;
}




.singlePostForm .form {
    margin-top: 26px;
    margin-bottom: 16px;

}
.singlePostForm .contacts {
    margin-top: 20px;
}
.singlePostForm .form .wpcf7-form textarea {
    height: 90px;
    width: 240px;
    padding: 10px 0;
    margin: 0 0 38px;
    color: rgb(5, 5, 5);
    border: none;
    border-bottom: 1px solid rgb(2, 2, 2);
    resize: vertical;
    
}
.wpcf7-submit{
    background-color: #B88E3B;
}
form div{
    width: 240px;
}
.fadeInUp a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}
.description__fadeInUp {
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 20px;
}
.fadeInUp__svg{
    width: 23px;
    height: 25px;
    fill: white;
    margin-right: 20px;
}
.placeholder .fadeInUp__svg{
    width: 60px;
    height: 30px;
}

.social .fadeInUp__svg{
    margin: 0px;
    padding: 10px;
    margin-top: 20px;
    fill: rgb(0, 0, 0);
}

.fadeInUp__svg:hover, 
.fadeInUp__svg:focus{
    fill: #B88E3B;
}
.wpcf7-form-control::placeholder{
    color: rgb(0, 0, 0);
}

/* ///////////////footer///////////////// */

@media (min-width: 1050px) {
    .touchdev .home-scr-1 h1, .left-picture {
        -webkit-transform: translateY(0)
    }

    .touchdev header {
        position: absolute;
        top: 0;
        display: none
    }

    .touchdev .home-scr-1 header {
        display: block
    }

    .touchdev .cd-section, .touchdev .cd-section .container {
        height: auto !important
    }

    .touchdev .cd-section .container {
        padding: 12rem 0
    }

    .touchdev .home-scr-1 h1 {
        position: static;
        transform: translateY(0);
    }

    .touchdev .left-picture {
        position: static;
        float: left;
        padding-left: 3rem;
        transform: translateY(0)
    }

    .touchdev .home-scr-4 .container {
        padding: 0
    }

    .touchdev .home-scr-4 .block-center {
        float: left;
        width: 100%
    }

    .touchdev .home-scr-4 .container .list {
        padding: 0 30px;
    }
    .touchdev .home-scr-4 .container .list div {
        padding-left: 90px;
        width: 49%;
    }
    .touchdev .home-scr-1 h1 {
        padding: 0 30px;
    }

    .touchdev a.center {
        position: static;
        margin: 10px 0 30px;
    }

    .touchdev header ul, .touchdev section:first-child {
        display: block;
    }
}

@media (min-width: 958px) and (max-width: 1049px) {
    .home-scr-1 h1, .left-picture {
        -webkit-transform: translateY(0)
    }

    header {
        position: absolute;
        top: 0;
        display: none
    }

    .home-scr-1 header {
        display: block
    }

    .cd-section, .cd-section .container {
        height: auto !important
    }

    .cd-section .container {
        padding: 12rem 0
    }

    .home-scr-1 h1 {
        position: static;
        transform: translateY(0);
    }

    .left-picture {
        position: static;
        float: left;
        padding-left: 3rem;
        transform: translateY(0)
    }

    .home-scr-4 .container {
        padding: 0
    }

    .home-scr-4 .block-center {
        float: left;
        width: 100%
    }
    .home-scr-4 .container .list {
        padding: 0 30px;
    }
    .home-scr-4 .container .list div {
        padding-left: 90px;
        width: 49%;
    }
    .home-scr-1 h1 {
        padding: 0 30px;
    }

    a.center {
        position: static;
        margin: 10px 0 30px;
    }

    header ul, section:first-child {
        display: block;
    }
}



@media (max-width: 958px) {
    header {
        position: absolute;
        top: 0;
        display: none
    }
    .container{
        transform: translateY(0%) scale(1); 
         opacity: 1;
    }

    .home-scr-1 header {
        display: block;
        opacity: 1
    }

    .cd-section, .cd-section .container, .cd-section > div {
        height: auto
    }

    .cd-section > div {
        padding: 75pt 0
    }

    .home-scr-1 > div {
        padding-top: 180px
    }

    .home-scr-1 h1 {
        position: static;
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        font-size: 8rem;
        line-height: 9.5rem;
        padding: 0 20px;
    }


    .left-picture {
        float: left
    }

    .home-scr-4 .container {
        padding-bottom: 0;
        padding-top: 7rem
    }

    .home-scr-4 .block-center {
        position: static;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-bottom: 7rem;
        opacity: 1
    }
    .home-scr-4 .container .list {
        /*max-width: 500px;*/
        margin: 0 auto;
        overflow: hidden;
    }
    .home-scr-4 .container .list div {
        width: 40%;
        margin-bottom: 30px;
        padding-left: 22px;
        margin-right: -4px;
        vertical-align: top;
    }
    .home-scr-1 h1:before {
        top: 140px;
    }
    .home-scr-3 h2, .home-scr-4 h2 {
        font-size: 8rem;
    }
    .home-scr-5 h2, .home-scr-4 h2 {
        font-size: 8rem;
    }
    a.center {
        position: static;
        margin: 10px 0 30px;
    }

    .icon-mouse {
        display: none;
    }

    header ul, section:first-child {
        display: block;
    }
}

@media (max-width: 600px) {
    .home-scr-1 header {
        padding: 3rem 2.5rem
    }

    .home-scr-1 > div {
        padding-top: 18rem
    }

    .home-scr-1 h1 {
        padding-left: 2.5rem;
        font-size: 4rem;
        line-height: 4.5rem
    }

    .home-scr-1 h1 span {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 2rem;
        line-height: 3rem
    }

    .left-picture {
        position: absolute;
        width: 100%;
        top: 0;
        padding: 0
    }

    .left-picture img {
        max-width: 270px;
        height: auto;
        display: block;
        margin: 75px auto 0;
        opacity: .55;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px)
    }
    
    .home-scr-1 h1:before {
        top: 50px;
        width: 90%;
        height: 2px;
    }

    .home-scr-3 h2, .home-scr-4 h2 {
        font-size: 4rem;
    }
    .home-scr-5 h2, .home-scr-4 h2 {
        font-size: 4rem;
    }
   
    .home-scr-4 .container .list {
        width: 250px;
    }
    .home-scr-4 .container .list div {
        width: 100%;
    }

    a.logo img {
        width: 70%;
        content:url("logo-x2.png");
        margin-top: 4px;
    }
    .localizations {
        right: 22px;
        top: 60px;
    }
    .localizations .local-cur {
        display: block;
        font-size: 10px;
        color: #ffffff;
        font-weight: bold;
        position: relative;
    }
    .localizations .local-cur:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        border-color: #ffffff transparent transparent transparent;
        right: -14px;
        top: 4px;

    }
    body.active-nav .localizations .local-cur:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4px 4px 4px;
        border-color: transparent transparent #ffffff transparent;

    }
    .localizations ul {
        display: none;
    }
    body.active-nav {
        overflow: hidden;
    }
    body.active-nav .localizations ul {
        display: block;
        position: fixed;
        width: 100%;
        left: 0;
        height: calc(100% - 130px);
        background: #ecc619;
        top: 130px;
        box-sizing: border-box;
        padding-top: 53px;
    }
    body.active-nav .localizations ul li {
        display: block;
        width: 100%;
        border-radius: 0;

    }
    body.active-nav .localizations ul li a {
        font-size: 18px;
        color: #ffffff;
    }
    body.active-nav .localizations ul li.active a {
        color: #ffffff;
    }

}

@media (max-width: 540px) {
    
}



/* 
.home_five{
    margin-top: 70px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 55%;
}
.home_five h2{
    max-width: 320px;
}
.home_five .lg{
	justify-content: flex-end;
}
.home_five .lg .description{
	width: 58%;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 30px 42px 54px 74px;
    margin: 64px 0;
}
.home_five .lg .description p{
	line-height: 150%;
}
.home_five .moreCompany{
	margin: 20px 0;
	cursor: pointer;
}
.home_five .moreCompany a{
	color: #000;
	text-decoration: none;
}
.home_five .moreCompany img{
	margin-left: 10px;
	transition: all 0.2s;
}
.home_five .moreCompany:hover img{
	margin-left: 13px;
	transition: all 0.2s;	
} */

.animated {
	animation-duration: 800ms;
  	animation-fill-mode: both;
}
.animated.infinite {
	animation-iteration-count: infinite;
}
.animated.d-1 {
	animation-delay: .1s;
}
.animated.d-2 {
	animation-delay: .2s;
}
.animated.d-3 {
	animation-delay: .3s;
}
.animated.d-4 {
	animation-delay: .4s;
}
.animated.d-5 {
	animation-delay: .5s;
}
.animated.d-6 {
	animation-delay: .6s;
}
.animated.d-7 {
	animation-delay: .7s;
}
.animated.d-8 {
	animation-delay: .8s;
}
.animated.d-9 {
	animation-delay: .9s;
}
.animated.d-10 {
	animation-delay: 1s;
}
@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important; 
  }
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
.fadeInUp {
	animation-name: fadeInUp;
}
@keyframes fadeInDown {
    from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
    }
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.fadeInDown {
  	animation-name: fadeInDown;
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.fadeInLeft {
  	animation-name: fadeInLeft;
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.fadeInRight {
  	animation-name: fadeInRight;
}
